<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/_header :: header('Beranda')}"></head>

<body class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary">
    <div class="app-wrapper">
        <div th:replace="~{fragments/_navbar :: navbar}"></div>
        <div th:replace="~{fragments/_sidebar :: sidebar}"></div>

        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div layout:fragment="page-title">
                                <h3 class="mb-0">Beranda</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end" layout:fragment="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Beranda</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-content" layout:fragment="content">
            </div>
        </main>

        <div th:replace="~{fragments/_footer :: footer}"></div>
    </div>

    <div th:replace="~{fragments/_scripts :: scripts}"></div>
</body>

</html>