<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/_header :: header('Dashboard')}"></head>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        <div th:replace="~{fragments/_navbar :: navbar}"></div>
        <div th:replace="~{fragments/_sidebar :: sidebar}"></div>


        <!-- <div class="main-content">
            <div th:replace="~{fragments/_navbar :: navbar}"></div> -->

        <!-- <main class="container-fluid" style="padding-top: 70px;">
                <div class="bg-light p-5 rounded-3">
                    <h1>Selamat Datang!</h1>
                    <p class="lead">Anda telah berhasil login ke Dashboard Aplikasi Auditing SPI.</p>
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            Informasi Pengguna
                        </div>
                        <div class="card-body">
                            <p><strong>Nama Pengguna:</strong> <span sec:authentication="name"></span></p>
                            <p><strong>Role:</strong> <span sec:authentication="principal.authorities" class="badge bg-success"></span></p>
                        </div>
                    </div>
                </div>
            </main>
        </div> -->
    </div>

    <div th:replace="~{fragments/_footer :: footer}"></div>


    <!--end::Script-->
</body>

</html>